@model ASP_MVC.Models.Cocktail.CocktailDetails

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name) @(Model.Name.Length%2 == 0 ? "🍹":"🍸")</h1>

<div>
    <h4>Créé le @Model.CreatedAt.ToShortDateString()</h4>
    <hr />
    <dl class="row">
        @if(Model.Description is not null){
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instructions)
        </dd>
        @if(Model.Creator is not null){
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Creator)
            </dt>
            <dd class = "col-sm-10">
                <a asp-action="Details" asp-controller="User" asp-route-id="@Model.CreatedBy">@Html.DisplayFor(model => model.Creator)</a>
            </dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Cocktail_Id }) |
    <a asp-action="Index">Retour à la liste</a>
</div>
