@using Microsoft.AspNetCore.Mvc.ModelBinding
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="fr">


<head>
    <title>Demo ASP MVC : @ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>


    <h1>Demo ASP MVC</h1>
    @if(TempData.ContainsKey("errorMessage")){
        <div style="background-color : yellow">
            <p style="color:red">@TempData["errorMessage"]</p>
        </div>
    }
    @if(!ViewContext.ModelState.IsValid){
        <div style="background-color : yellow">
            <p style="color:red">Votre formulaire contient @ViewContext.ModelState.ErrorCount erreurs:</p>
            <ul>
                @foreach(KeyValuePair<string, ModelStateEntry> entry in ViewContext.ModelState)
                {
                    if(entry.Value.Errors.Count > 0)
                    {
                        <li>@entry.Key : 
                            <ul>@foreach(ModelError error in entry.Value.Errors)
                                {
                                    <li>@error.ErrorMessage</li>
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
    }
    <h2>Demonstration de formulaires</h2>
    <div class="row">
        <form method="post" class="col-6 container-md">
            <div class="mb-3">
                <label class="form-label" for="firstName>">Prenom</label>
                <input id="firstName" name="firstName" type="text" class="form-control" />
                @if(ViewContext.ModelState.ContainsKey("firstName"))
                {
                    @foreach(ModelError error in ViewContext.ModelState["firstName"].Errors)
                    {
                        <br />
                        <span class="text-danger">@error.ErrorMessage</span>
                    }
                }
            </div>
            <div class="mb-3">
                <label class="form-label" for="lastName>">Nom</label>
                <input id="lastName" name="lastName" type="text" class="form-control" />
                @if (ViewContext.ModelState.ContainsKey("lastName"))
                {
                    @foreach (ModelError error in ViewContext.ModelState["lastName"].Errors)
                    {   <br />
                        <span class="text-danger">@error.ErrorMessage</span>
                    }
                }
            </div>
            <div class="mb-3">
                <label class="form-label" for="birthDate>">Date de naissance</label>
                <input id="birthDate" name="birthDate" type="date" class="form-control" />
                @if (ViewContext.ModelState.ContainsKey("firstName"))
                {
                    @foreach (ModelError error in ViewContext.ModelState["birthDate"].Errors)
                    {   <br />
                        <span class="text-danger">@error.ErrorMessage</span>
                    }
                }
            </div>
            <div>
                <button type="submit" class="btn btn-success">Enregistrer</button>
                <button type="reset" class="btn btn-warning">Vider formulaire</button>
                @* <a href="/Demo/" class="btn btn-danger">Revenir en arrière</a> *@
                @* The below line does the same as the above line *@
                @Html.ActionLink("Revenir en arrière", "Index", "Demo", null, new{ @class="btn btn-danger"})
            </div>
        </form>
    </div>


</body>
</html>